// Fonts
@font-face {
    font-family: inter;
    src: url(../fonts/Inter-Regular.ttf);
}
@font-face {
    font-family: montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}

// basic
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style: none;
}
button{
    border: none;
}
.container{
    max-width: 1200px;
    margin: 0px auto;
}