@mixin jc($jc:flex-start){
    display: flex;
    align-items: center;
    justify-content: $jc;
}
@mixin flex($fd:row){
    display: flex;
    flex-direction: $fd;
}
@mixin font_1($fs:1.8rem,$fw:600,$lh:1rem){
    font-size: $fs;
    font-weight: fw;
    line-height: $lh;
}
@mixin btn($mw:15.6rem,$pt:1.6rem,$pr:3.2rem,$br:.4rem){
    padding:$pt $pr;
    max-width: $mw;
    border-radius: $br;
    background-color: $btn-bg;
    color: $third_color;
    font-family: inter;
}
@mixin public_p($lh:2.7rem,$fs:1.8rem ,$fw:400){
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
    font-family: inter;
    color: $secondaty;
}
@mixin title_font($fs:4.8rem,$fw:600,$lh:7.2rem,){
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
    font-family: montserrat;
    color: $primary_color;
}